<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Add File</h2>
                <form action="/admin/add-file" method="POST" enctype="multipart/form-data">
  
                    <label for="">Course</label>
                    <input type="text" name="Name" class="form-control">
                    
                    
                    
                    
    
  
                   
                    {{!-- year1 --}}
                    <label for="">year</label><br>
                    <input type="text" name="Year" class="form-control">


                    <label for="">Upload Question papers</label><br>
                    
                    <label for="">Semester</label><br>
                    <input type="text" value="1" name="Sem1" class="form-control">
                   

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem1Sub_name1" class="form-control">
                    <input type="file"  name="Sem1Pdf_sub1" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem1Sub_name2" class="form-control">
                    <input type="file"  name="Sem1Pdf_sub2" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem1Sub_name3" class="form-control">
                    <input type="file"  name="Sem1Pdf_sub3" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem1Sub_name4" class="form-control">
                    <input type="file"  name="Sem1Pdf_sub4" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem1Sub_name5" class="form-control">
                    <input type="file"  name="Sem1Pdf_sub5" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem1Sub_name6" class="form-control">
                    <input type="file"  name="Sem1Pdf_sub6" class="form-control">  


                    <label for="">Semester</label><br>
                    <input type="text" value="2" name="Sem2" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem2Sub_name1" class="form-control">
                    <input type="file"  name="Sem2Pdf_sub1" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem2Sub_name2" class="form-control">
                    <input type="file"  name="Sem2Pdf_sub2" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem2Sub_name3" class="form-control">
                    <input type="file"  name="Sem2Pdf_sub3" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem2Sub_name4" class="form-control">
                    <input type="file"  name="Sem2Pdf_sub4" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem2Sub_name5" class="form-control">
                    <input type="file"  name="Sem2Pdf_sub5" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem2Sub_name6" class="form-control">
                    <input type="file"  name="Sem2Pdf_sub6" class="form-control">  


                    <label for="">Semester</label><br>
                    <input type="text" value="3" name="Sem3" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem3Sub_name1" class="form-control">
                    <input type="file"  name="Sem3Pdf_sub1" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem3Sub_name2" class="form-control">
                    <input type="file"  name="Sem3Pdf_sub2" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem3Sub_name3" class="form-control">
                    <input type="file"  name="Sem3Pdf_sub3" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem3Sub_name4" class="form-control">
                    <input type="file"  name="Sem3Pdf_sub4" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem3Sub_name5" class="form-control">
                    <input type="file"  name="Sem3Pdf_sub5" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem3Sub_name6" class="form-control">
                    <input type="file"  name="Sem3Pdf_sub6" class="form-control">  

                    <label for="">Semester</label><br>
                    <input type="text" value="4" name="Sem4" class="form-control">
                    <label for="">Subject Name</label>
                    <input type="text" name="Sem4Sub_name1" class="form-control">
                    <input type="file"  name="Sem4Pdf_sub1" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem4Sub_name2" class="form-control">
                    <input type="file"  name="Sem4Pdf_sub2" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem4Sub_name3" class="form-control">
                    <input type="file"  name="Sem4Pdf_sub3" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem4Sub_name4" class="form-control">
                    <input type="file"  name="Sem4Pdf_sub4" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem4Sub_name5" class="form-control">
                    <input type="file"  name="Sem4Pdf_sub5" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem4Sub_name6" class="form-control">
                    <input type="file"  name="Sem4Pdf_sub6" class="form-control">  

                    <label for="">Semester</label><br>
                    <input type="text" value="5" name="Sem5" class="form-control">
                    <label for="">Subject Name</label>
                    <input type="text" name="Sem5Sub_name1" class="form-control">
                    <input type="file"  name="Sem5Pdf_sub1" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem5Sub_name2" class="form-control">
                    <input type="file"  name="Sem5Pdf_sub2" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem5Sub_name3" class="form-control">
                    <input type="file"  name="Sem5Pdf_sub3" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem5Sub_name4" class="form-control">
                    <input type="file"  name="Sem5Pdf_sub4" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem5Sub_name5" class="form-control">
                    <input type="file"  name="Sem5Pdf_sub5" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem5Sub_name6" class="form-control">
                    <input type="file"  name="Sem5Pdf_sub6" class="form-control">      


                    <label for="">Semester</label><br>
                    <input type="text" value="6" name="Sem6" class="form-control">
                    <label for="">Subject Name</label>
                    <input type="text" name="Sem6Sub_name1" class="form-control">
                    <input type="file"  name="Sem6Pdf_sub1" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem6Sub_name2" class="form-control">
                    <input type="file"  name="Sem6Pdf_sub2" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem6Sub_name3" class="form-control">
                    <input type="file"  name="Sem6Pdf_sub3" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem6Sub_name4" class="form-control">
                    <input type="file"  name="Sem6Pdf_sub4" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem6Sub_name5" class="form-control">
                    <input type="file"  name="Sem6Pdf_sub5" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem6Sub_name6" class="form-control">
                    <input type="file"  name="Sem6Pdf_sub6" class="form-control">        


<br><br>
                    {{!-- year2 --}}
                    <label for="">year</label><br>
                    <input type="text" name="Year2" class="form-control">


                    <label for="">Upload Question papers</label><br>
                    
                    <label for="">Semester</label><br>
                    <input type="text" value="1" name="Year2Sem1" class="form-control">
                   

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem1Sub_name1" class="form-control">
                    <input type="file"  name="Year2Sem1Pdf_sub1" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem1Sub_name2" class="form-control">
                    <input type="file"  name="Year2Sem1Pdf_sub2" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem1Sub_name3" class="form-control">
                    <input type="file"  name="Year2Sem1Pdf_sub3" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem1Sub_name4" class="form-control">
                    <input type="file"  name="Year2Sem1Pdf_sub4" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem1Sub_name5" class="form-control">
                    <input type="file"  name="Year2Sem1Pdf_sub5" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem1Sub_name6" class="form-control">
                    <input type="file"  name="Year2Sem1Pdf_sub6" class="form-control">  


                    <label for="">Semester</label><br>
                    <input type="text" value="2" name="Year2Sem2" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem2Sub_name1" class="form-control">
                    <input type="file"  name="Year2Sem2Pdf_sub1" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem2Sub_name2" class="form-control">
                    <input type="file"  name="Sem2Pdf_sub2" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem2Sub_name3" class="form-control">
                    <input type="file"  name="Year2Sem2Pdf_sub3" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem2Sub_name4" class="form-control">
                    <input type="file"  name="Sem2Pdf_sub4" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem2Sub_name5" class="form-control">
                    <input type="file"  name="Year2Sem2Pdf_sub5" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem2Sub_name6" class="form-control">
                    <input type="file"  name="Year2Sem2Pdf_sub6" class="form-control">  


                    <label for="">Semester</label><br>
                    <input type="text" value="3" name="Year2Sem3" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem3Sub_name1" class="form-control">
                    <input type="file"  name="Year2Sem3Pdf_sub1" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem3Sub_name2" class="form-control">
                    <input type="file"  name="Year2Sem3Pdf_sub2" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem3Sub_name3" class="form-control">
                    <input type="file"  name="Year2Sem3Pdf_sub3" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem3Sub_name4" class="form-control">
                    <input type="file"  name="Year2Sem3Pdf_sub4" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem3Sub_name5" class="form-control">
                    <input type="file"  name="Year2Sem3Pdf_sub5" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem3Sub_name6" class="form-control">
                    <input type="file"  name="Year2Sem3Pdf_sub6" class="form-control">  

                    <label for="">Semester</label><br>
                    <input type="text" value="4" name="Year2Sem4" class="form-control">
                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem4Sub_name1" class="form-control">
                    <input type="file"  name="Year2Sem4Pdf_sub1" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem4Sub_name2" class="form-control">
                    <input type="file"  name="Year2Sem4Pdf_sub2" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem4Sub_name3" class="form-control">
                    <input type="file"  name="Year2Sem4Pdf_sub3" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem4Sub_name4" class="form-control">
                    <input type="file"  name="Year2Sem4Pdf_sub4" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem4Sub_name5" class="form-control">
                    <input type="file"  name="Year2Sem4Pdf_sub5" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem4Sub_name6" class="form-control">
                    <input type="file"  name="Year2Sem4Pdf_sub6" class="form-control">  

                    <label for="">Semester</label><br>
                    <input type="text" value="5" name="Year2Sem5" class="form-control">
                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem5Sub_name1" class="form-control">
                    <input type="file"  name="Year2Sem5Pdf_sub1" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem5Sub_name2" class="form-control">
                    <input type="file"  name="Year2Sem5Pdf_sub2" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem5Sub_name3" class="form-control">
                    <input type="file"  name="Sem5Pdf_sub3" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem5Sub_name4" class="form-control">
                    <input type="file"  name="Year2Sem5Pdf_sub4" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem5Sub_name5" class="form-control">
                    <input type="file"  name="Year2Sem5Pdf_sub5" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem5Sub_name6" class="form-control">
                    <input type="file"  name="Year2Sem5Pdf_sub6" class="form-control">      


                    <label for="">Semester</label><br>
                    <input type="text" value="6" name="Year2Sem6" class="form-control">
                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem6Sub_name1" class="form-control">
                    <input type="file"  name="Year2Sem6Pdf_sub1" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Sem6Sub_name2" class="form-control">
                    <input type="file"  name="Sem6Pdf_sub2" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem6Sub_name3" class="form-control">
                    <input type="file"  name="Year2Sem6Pdf_sub3" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem6Sub_name4" class="form-control">
                    <input type="file"  name="Year2Sem6Pdf_sub4" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem6Sub_name5" class="form-control">
                    <input type="file"  name="Year2Sem6Pdf_sub5" class="form-control">

                    <label for="">Subject Name</label>
                    <input type="text" name="Year2Sem6Sub_name6" class="form-control">
                    <input type="file"  name="Year2Sem6Pdf_sub6" class="form-control">   

                    <button class="btn btn-success mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>

</section>