<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Add File</h2>
                <form action="/admin/add-file" method="POST" enctype="multipart/form-data">
  
                    <label for="">Course</label>
                    <input type="text" name="Name" class="form-control">
                    
                    <label for="">UG or PG</label>
                    <input type="text" name="Category" class="form-control">
                    
                   
                    
                    <label for="">year</label>
                    <input type="text" name="Year" class="form-control">

                    <label for="">Question Paper 1st Semester</label>
                    <input type="file"  name="Pdf_sem1" class="form-control">
                    <label for="">Question Paper 2nd Semester</label>
                     <input type="file"  name="Pdf_sem2" class="form-control">
                     <label for="">Question Paper 3rd Semester</label>
                      <input type="file"  name="Pdf_sem3" class="form-control">
                      <label for="">Question Paper 4th Semester</label>
                       <input type="file"  name="Pdf_sem4" class="form-control">
                       <label for="">Question Paper 5th Semester</label>
                        <input type="file"  name="Pdf_sem5" class="form-control">
                        <label for="">Question Paper 6thy Semester</label>
                        <input type="file"  name="Pdf_sem6" class="form-control">

                    <button class="btn btn-success mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>

</section>