<div class="row">
  <div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">
      <h2>Create new Admin Account</h2>
      <form action="/admin/adminSignup" method="POST" >
   <div class="form-group">
    <label class="SignUp_Label">Name</label>
    <input type="text" class="form-control" name="Name" placeholder="Enter Name">
  </div>
  
  <div class="form-group mt-2">
    <label class="SignUp_Label" for="course">Department</label>
  <select id="department" name="Department" style="width: 100%;" class="form-control">
    <option value="Computer Science">Computer Secience</option>
    <option value="English">English</option>
    <option value="Commerse">Commerse</option>
    
  </select>
  </div>
  
  <div class="form-group mt-2">
    <label class="SignUp_Label" >Email address</label>
    <input type="email" class="form-control" name="Email" placeholder="Enter email">
  </div>
  <div class="form-group mt-2">
    <label class="SignUp_Label">Password</label>
    <input type="password" class="form-control" name="Password" placeholder="Password">
  </div>
  <br><br>
  
  <button type="submit" class="btn btn-primary float-right" style="float: right;">Add Admin</button>
  
</form>

    </div>

  </div>
</div>