<section class="contact py-5" id="contact">
	<div class="container py-lg-5">
		
		<h3 class="heading mb-sm-5 mb-4">Contact</h3>
		<div class="contact-form">
			<div class="row">
				<div class="col-lg-8">
				<div class="col-lg-7 my-lg-0 my-4">
				
                 <table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      
     
      <td><span class="fa mr-2 fa-map-marker" style="margin-right: 1em;"></span></td>
      <td><p>Thaloor, Konnachal P.O <br>    The Nilgiris,Tamil Nadu- 643239.</p></td>
    </tr>
    <tr>
      
      <td><span class="fa mr-2 fa-envelope " style="margin-right: 1em;"></span></td>
      <td><p><a href="mailto:ncasbu@gmail.com">ncasbu@gmail.com</a></p></td>
    </tr>
    <tr>
     
      <td><span class="fa ml-3 mr-2 fa-phone" style="margin-right: 1em;"></span></td>
      <td><p>+91 9207 769 999, +91 9488 186 999</p></td>
    </tr>
  </tbody>
</table>
            </div>
			</div>

    

            
				<section class="w3layouts-map col-lg-4 mt-lg-0 mt-5">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31269.099233335906!2d76.25303442064862!3d11.577830573960323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa3a6deb27cc52a25!2sNilgiri+College+of+Arts+and+Science!5e0!3m2!1sen!2sin!4v1494312931741" allowfullscreen=""></iframe>
				</section>
			
            </div>
        </div>
	</div>
</section>