<section class="about " style="padding-top: 3em;" id="about">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">More Information <br> About The Admin Page</h2>
                        <br>
                        <p class="about__description">This Website is to Manage and edit the NCAS Website section of Downloading Previos Year Question Papers. <br>
                        Here the Admin Can Create And Remove New Course Details and pdf's, Also Admin Can view, Delete Users and Create ,Delete Admins. 

                        </p>
                        
                    </div>

                   
                </div>
                
            
            </section>