<div class="list-group">
    <h2 style="text-align: center;">Select Course</h2>

    <a href="/admin/userDetails?name=BA English" class="list-group-item list-group-item-action">BA English</a>
    <a href="/admin/userDetails?name=BSc Mathematics" class="list-group-item list-group-item-action">BSc Mathematics</a>
    <a href="/admin/userDetails?name=B Com Finance" class="list-group-item list-group-item-action">B Com Finance</a>
    <a href="/admin/userDetails?name=B Com Computer Application" class="list-group-item list-group-item-action"> B Com Computer Application</a>
    <a href="/admin/userDetails?name=BSc Computer Science" class="list-group-item list-group-item-action">BSc Computer Science</a>
    <a href="/admin/userDetails?name=BSc Psychology with Training and Counselling" class="list-group-item list-group-item-action">BSc Psychology with Training and Counselling</a>
    <a href="/admin/userDetails?name=BCA with AI and Robotics" class="list-group-item list-group-item-action">BCA with AI and Robotics</a>
    <a href="/admin/userDetails?name=BBA International Business with Digital Marketing and Data Analysis" class="list-group-item list-group-item-action">BBA International Business with Digital Marketing and Data Analysis</a>
    <a href="/admin/userDetails?name=B Com Professional Accounting with Taxation and Data Analysis" class="list-group-item list-group-item-action">B Com Professional Accounting with Taxation and Data Analysis</a>
    <a href="/admin/userDetails?name=M.Com" class="list-group-item list-group-item-action">M.Com</a>
    <a href="/admin/userDetails?name=MSc Computer Science" class="list-group-item list-group-item-action">MSc Computer Science</a>
    <a href="/admin/userDetails?name=MA English" class="list-group-item list-group-item-action">MA English</a>
</div>