{{!-- footer --}}
 <footer class="" style="background-color: black; height: 3rem; position: absolute; bottom: 0; width: 100%;">
            <div class="">
                <div class="" >
                    
                    <p style="text-align: center; padding-top: 14px; font-size: small;">Designed by <a style="" href="#">Muhammed Shebin VA</a></p> 
                            
                        </div>
                    </div>                   
                </div>
            </div>
        </footer>