

    <section>
        <div class="container col-md-12 mt-5 ">
            <div class="row mt-5">
                <p class="line-1 anim-typewriter text">
                    Download Previous Year <br> Question Paper</p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-2">
                    <ul class="">
                        <h4> UG PROGRAMS </h4>

                        <li><i class="fa fa-angle-right"></i><a href="#"
                                class="list-group-item list-group-item-action">BA English</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#"
                                class="list-group-item list-group-item-action">BSc Mathematics</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#"
                                class="list-group-item list-group-item-action">B Com Finance</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#"
                                class="list-group-item list-group-item-action">B Com Computer Application</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#"
                                class="list-group-item list-group-item-action">BSc Computer Science</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#"
                                class="list-group-item list-group-item-action">BSc Psychology with Training and
                                Counselling </a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#"
                                class="list-group-item list-group-item-action">BCA with AI and Robotics</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#"
                                class="list-group-item list-group-item-action">BBA International Business with Digital
                                Marketing and Data Analysis </a></li>
                        <li><i class="fa fa-angle-right"></i><a href="#"
                                class="list-group-item list-group-item-action">B Com Professional Accounting with
                                Taxation and Data Analysis</a></li>
                        <br><br>
                        <h4> PG PROGRAMS </h4>

                        {{#each pgPrograms}}
                        <li><i class="fa fa-angle-right"></i><a href="#" class="list-group-item list-group-item-action">
                                {{this.name}} </a></li>
                        
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </section>



    