<main class="main">
<section class="" >
  <img src="assets/img/home1.jpg" alt="" style="height: 100%;" class="home__img">
<div class=" home__container container grid">
  <div class="col-md-6 m-auto">
    <div class="container mt-5">
      <h2 style="color: #fff;">Login</h2>
      <form action="/login" method="POST">
    {{#if loginErr}}
      <p class="error">{{loginErr}}</p>
    {{/if}}
    <br>
  <div class="form-group">
    <label style="color: #fff;">Email address</label><br>
    <input type="email" class="form-control" name="Email" placeholder="Enter email">
  </div><br>
  <div class="form-group">
    <label style="color: #fff;">Password</label><br>
    <input type="password" class="form-control" name="Password" placeholder="Password">
  </div><br>
  
  <a href="/signup" style="color: rgb(6, 250, 217); font-weight: bold; margin-right: auto;" >create new Account?</a>
  <button type="submit" class="btn btn-primary float-right" style="margin: auto;">Login</button>
  
</form>

    </div>

  </div>
</div>
</section>

{{!-- new design --}}

  

{{!-- new design --}}
</main>

