{{!-- <section>
<ul class="list-group">

    <li><i class="fa fa-angle-right"></i><a href="/download/{{file._id}}" class="list-group-item list-group-item-action">Semester - 1 </a></li>
    <li><i class="fa fa-angle-right"></i><a href="/download/{{}}" class="list-group-item list-group-item-action">Semester - 2 </a></li>
    <li><i class="fa fa-angle-right"></i><a href="/download/{{}}" class="list-group-item list-group-item-action">Semester - 3</a></li>
    <li><i class="fa fa-angle-right"></i><a href="/download/{{}}" class="list-group-item list-group-item-action">Semester - 4</a></li>
    <li><i class="fa fa-angle-right"></i><a href="/download/{{}}" class="list-group-item list-group-item-action">Semester - 5</a></li>
    <li><i class="fa fa-angle-right"></i><a href="/download/{{}}" class="list-group-item list-group-item-action">Semester - 6</a></li>
  
</ul>
</section> --}}

<h2>{{file.Name}}</h2>


<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">semster1</button>
  <button type="button" class="btn btn-secondary">Semester2</button>
  <button type="button" class="btn btn-secondary">Semester3</button>
  <button type="button" class="btn btn-secondary">semster4</button>
  <button type="button" class="btn btn-secondary">Semester5</button>
  <button type="button" class="btn btn-secondary">Semester6</button>
</div>


