{{!-- <main class="main">
  
<div class="">
  <div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">
      <h2>Create new Account</h2>
      <form action="/signup" method="post" enctype="multipart/form-data">
   <div class="form-group">
    <label >Name</label>
    <input type="text" class="form-control" name="Name" placeholder="Enter Name">
  </div>
  
  <div class="form-group mt-2">
    <label for="course">Course:</label>
  <select id="course" name="cource" style="width: 100%;" class="form-control">
    <option value="BCA">BCA</option>
    <option value="BCom">BCom</option>
    <option value="BA English">BA English</option>
    
  </select>
  </div>
  
  <div class="form-group mt-2">
    <label >Email address</label>
    <input type="email" class="form-control" name="Email" placeholder="Enter email">
  </div>
  <div class="form-group mt-2">
    <label>Password</label>
    <input type="password" class="form-control" name="Password" placeholder="Password">
  </div>
  <br><br>
  <a href="/login" style="color: blue; font-weight: bold;">Already have Account?</a>
  <button type="submit" class="btn btn-primary float-right" style="float: right;">Signup</button>
  
</form>

    </div>

  </div>
</div>
</main> --}}

<main class="main">
  <body style="background:rebeccapurple" class="">
  <section class="">
    <div class="col-sm-12 col-md-12 m-auto ">
    <div class="login-box">
        <h2>Create new Account</h2>
        <form action="/signup" method="post" id="signup-form">
         
          <div class="user-box">
            <input type="text" name="Name" required="">
            <label>Name</label>
          </div>
          <div class="user-box">
            
  <select id="course" name="cource" style="width: 100%; color: #fff;" class="form-control">
    <option value="BA English">BA English</option>
    <option value="B Com Finance">B Com Finance</option>
    <option value="BSc Mathematics">BSc Mathematics</option>
    <option value="B Com Computer Application">B Com Computer Application</option>
    <option value="BSc Computer Science">BSc Computer Science</option>
    <option value="BCA with AI and Robotics">BCA with AI and Robotics</option>
    <option value="BSc Psychology with Training and Counselling">BSc Psychology with Training and Counselling</option>
    <option value="B Com Professional Accounting with Taxation and Data Analysis">B Com Professional Accounting with Taxation and Data Analysis</option>
    <option value="BBA International Business with Digital Marketing and Data Analysis">BBA International Business with Digital Marketing and Data Analysis</option>
    <option value="M.Com">M.Com</option>
    <option value="MA English">MA English</option>
    <option value="MSc Computer Science">MSc Computer Science</option>
  </select>
  
          </div><br>
           <div class="user-box">
            <input type="email" name="Email" required="">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input type="password" name="Password" id="password-inp" required="">
            <label>Password</label>
            
          </div>
          <div>
                        <div id="check-box" style="float: right; margin-right: 40%;     margin-top: 2px;">
                            <input class="show-password" type="checkbox" onclick="showPassword()">
                        </div>
                        <div id="check-box-message" style="">
                            <p style="color: aqua;">Show Password</p>
                        </div>
                        </div>
          <a href="#"  >
            
            <span></span>
            <span></span>
            
            <button type="submit" class="btn bg-transparent" style="color: #fff;" >Signup</button>
          </a>
        </form>
        <br>
        <a href="/login" style="color: rgb(255, 255, 255); font-weight: bold; margin-right: auto;" >Already have Account?</a>
      </div>



</div>
</section>
</body>
<script>
  function showPassword() {
    var x = document.getElementById("password-inp");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }

    
  }
  $(document).ready(function(){
    $('#signup-form').validate({
      rules:{
        
        Password:{
          required:true,
          minlength:6

        }
      }
    })
  })
</script>
</main>
