

    <section>
        <div class="container col-md-12 mt-5 ">
            <div class="row mt-5">
                <p class="line-1 anim-typewriter text">
                    Download Previous Year <br> Question Paper</p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-2">
                    <ul class="">
                        
                        <h4> UG PROGRAMS </h4>

                        {{#each files}}
                        <li><i class="fa fa-angle-right"></i><a href="#" class="list-group-item list-group-item-action">
                                {{this.Name}} </a></li>
                        
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    



    