<body {{#if user.Name}}onload="showPopup('flex');" {{/if}}>
    


    {{!-- new/////////////////////////////////////////// --}}
    
   <main class="main">
            <!--==================== HOME ====================-->
            <section class="home" id="home">
                <img src="assets/img/home1.jpg" alt="" class="home__img">

                <div class="home__container container grid">
                    <div class="home__data">
                        <span class="home__data-subtitle">Welcome to</span>
                        <h1 class="home__data-title">Nilgiri <br> College of<b> Arts & <br> Science</b></h1>
                        <a href="https://nilgiricollege.co.in/" class="button">Explore</a>

                    </div>

                    <div class="home__social">
                        <a href="https://www.facebook.com/" target="_blank" class="home__social-link">
                            <i class="ri-facebook-box-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" class="home__social-link">
                            <i class="ri-instagram-fill"></i>
                        </a>
                        <a href="https://twitter.com/" target="_blank" class="home__social-link">
                            <i class="ri-twitter-fill"></i>
                        </a>
                    </div>
                    
                    <div class="home__info gotoDownload">
                        <div class="gotoDownload">
                            
                            <a href="#select-course"  class="home__info-title" style="color: #fff;" id="aTagForDownload">
                                Download Previous Year Question Papers <i class="ri-arrow-right-line"></i>
                            </a>
                        </div>

                        <div class="home__info-overlay">
                            <img  src="assets/img/exam-paper.jpg" alt="" class="home__info-img">
                        </div>
                    </div>
                </div>

                 <!--Popup Login Section -->
        
        <div id="bg-modal" > 

            <div class="modal-contact col-md-6" >
                
                 <img src="assets/img/smaile.png" height= "193px" width= "203px">
                
                <p style="margin-top: 2em; font-size: 20px;"> Account Created Successfully </p>
                
                 <a href="#select-course" class="aPopUp" onclick= "showPopup('none');"> <button class="buttonpopupclose">Go To Download</button> </a>
                
                
            </div>

        </div>
        
            </section>


            <!--==================== ABOUT ====================-->
            <section class="about " style="padding-top: 1em; margin-bottom: 2em;" id="about">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">More Information <br> About The Web Site</h2>
                        <p class="about__description">This Website is for NCAS Students to Download Previos Year Question Papers.
                        </p>
                        
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="assets/img/about1.jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="assets/img/about2.jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
                
            
            </section>
            
            <!--==================== select course ====================-->
            <section class="discover section" id="select-course">
                <h2 class="section__title">Download Previous Year<br> Quetion Papers</h2>
                <div class="discover__container mt-5">
                    <div class="row text-center">
                      <div class="col-md-12">
                        <h2>SELECT YOUR COURSE</h2>
                        <hr class="hrLine">
                      </div>
                    </div>
                  </div>
                  <div class="container ">
                    <div class="tabbed">
                    <div class="content">
                      
                        <ul class="flex-container">
                            {{#each files}}
                            <a href="/sem-select/{{this._id}}" id="aTag"><li class="flex-item">{{this.Name}}</li></a>
                            {{/each}}
                            
                           </ul>

                           {{!-- <ul class="flex-container">
                            
                            <a href="/selectCourse/2020" id="aTag"><li class="flex-item">2020</li></a>
                            
                            
                           </ul> --}}

                    </div>
                  </div>
                  </div>

            </section>
            
            

            

            

            

            
                        <!-- Contact -->
<section class="contact py-5" id="contact">
	<div class="container py-lg-5">
		
		<h3 class="heading mb-sm-5 mb-4">Contact</h3>
		<div class="contact-form">
			<div class="row">
				<div class="col-lg-8">
				<div class="col-lg-7 my-lg-0 my-4">
				{{!-- <p><span class="fa mr-2 fa-map-marker" style="margin-right: 1em;"></span> Thaloor, Konnachal P.O <br>    The Nilgiris,Tamil Nadu- 643239.</p>
				<p class="mt-2"><span class="fa mr-2 fa-envelope " style="margin-right: 1em;"></span><a href="mailto:ncasbu@gmail.com">ncasbu@gmail.com</a><br> 
                
                <span class="fa ml-3 mr-2 fa-phone" style="margin-right: 1em;"></span> +91 9207 769 999, +91 9488 186 999</p>
                 --}}
                 <table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      
     
      <td><span class="fa mr-2 fa-map-marker" style="margin-right: 1em;"></span></td>
      <td><p>Thaloor, Konnachal P.O <br>    The Nilgiris,Tamil Nadu- 643239.</p></td>
    </tr>
    <tr>
      
      <td><span class="fa mr-2 fa-envelope " style="margin-right: 1em;"></span></td>
      <td><p><a href="mailto:ncasbu@gmail.com">ncasbu@gmail.com</a></p></td>
    </tr>
    <tr>
     
      <td><span class="fa ml-3 mr-2 fa-phone" style="margin-right: 1em;"></span></td>
      <td><p>+91 9207 769 999, +91 9488 186 999</p></td>
    </tr>
  </tbody>
</table>
            </div>
			</div>

    

            
				<section class="w3layouts-map col-lg-4 mt-lg-0 mt-5">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31269.099233335906!2d76.25303442064862!3d11.577830573960323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa3a6deb27cc52a25!2sNilgiri+College+of+Arts+and+Science!5e0!3m2!1sen!2sin!4v1494312931741" allowfullscreen=""></iframe>
				</section>
			
            </div>
        </div>
	</div>
</section>
<!-- //Contact -->		
                   
            </section>
            
            
        </main>

        <!--==================== FOOTER ====================-->
        {{!-- <footer class="footer section" style="background-color: black;" >
            <div class="footer__container container grid">
                <div class="footer__content grid" >
                    
                    <h2></h2>
                            
                        </div>
                    </div>                   
                </div>
            </div>
        </footer> --}}

        <footer class="" style="background-color: black; height: 4rem;" >
            <div class="">
                <div class="" >
                    
                    <h2></h2>
                            
                        </div>
                    </div>                   
                </div>
            </div>
        </footer>

      </body>  

        

        
    



    