/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */

body{
  /* height: calc(100vh - 8em);
  margin: 0; */
 
  font-family: 'Anonymous Pro', monospace;  
  overflow-x: hidden;
  margin: 0%;
  
}



.text{
  
  font-weight: normal;
}
.line-1{
    position: relative;
    top: 50%;  
    width: 14em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


.tabbed{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 24px;
  box-sizing: border-box;
  
}
.content{
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #FFF;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  
  max-width: 700px;
  margin: auto;
  
}
.flex-container{
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #FFF;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
 
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  font-family: "Open Sans", sans-serif;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.flex-item{
  
  
  
  list-style: none;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  
  background: #4B4B4c;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 34px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border-radius: 6px;
  
}
#aTag{
  text-decoration: none;
}
.flex-item:hover {
  background-color: #ca1762;
  color: white;
}
.hrLine{
  height: 4px;
    width: 10%;
    margin-left: 45%;
    color: red;
    border: 2px solid red;
    
}

/* login page */
.container-img {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 100%;
  padding-top: 11em;
}
/* /login page */


/* login new desing */
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21rem;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}



.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

 /* /login */
 /* signup */
 #course {
  background: transparent;
 }
 #course option {
  background-color: rebeccapurple;
 }

 .SignUp_Label{
  color: black;
  font-weight: bold;
 }
 /* /signup */

 /* pop up home after login */
 .aPopUp{
 
  color: white;
  text-decoration: none; 
  font-family: Segoe UI;
font-size: 16px;
display: inline-block;
}

.aPopUp:hover{
  color: #dae4f2;
font-size: 26px;
  cursor: pointer;
  
}

#bg-modal{
  width: 100%;
  height: 90%;
  
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
 
  
}

.modal-contact{
  border-radius: 8px;
  /* width: 70%; */
  height: 390px;
  background-color: white;
  opacity: 1; 
  text-align: center;
  padding: 20px; 
  position: relative;
}

.close{
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  
}

.buttonpopup:hover{

background-color: #5391f5;    
}

.buttonpopupclose:hover{

background-color: #eb8686;    
}

.buttonpopup {
background-color: #4CAF50; 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
  border-radius: 8px;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

.buttonpopupclose{
background-color: #f55353; 
border: none;
  
color: white;
padding: 19px 38px;
text-align: center;
text-decoration: none;
display: inline-block;
  border-radius: 8px;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}